[user]
	email = mageelog@gmail.com
	name = lberrymage
	signingKey = 9BD8C92FB2F968121EC1CDA8741C703B9C606DBB
[core]
	editor = vim
	pager = delta --plus-color="#044100"
[gpg]
	program = gpg2
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache --timeout=3600
[pull]
	ff = only
